  <div class='area-items btn-group'>
    <%= link_to '千代田区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 2}},class: "area-item btn btn-light" %>
    <%= link_to '中央区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 3}},class: "area-item btn btn-light" %>
    <%= link_to '港区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 4}},class: "area-item btn btn-light " %>
    <%= link_to '新宿区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 5}},class: "area-item btn btn-light" %>
    <%= link_to '文京区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 6}},class: "area-item btn btn-light" %>
    <%= link_to '台東区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 7}} ,class: "area-item btn btn-light" %>
    <%= link_to '墨田区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 8}} ,class: "area-item btn btn-light" %>
    <%= link_to '江東区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 9}} ,class: "area-item btn btn-light" %>
  </div>
  <div class='area-items btn-group '>
    <%= link_to '品川区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 10}} ,class: "area-item btn btn-light" %>
    <%= link_to '目黒区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 11}} ,class: "area-item btn btn-light" %>
    <%= link_to '大田区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 12}} ,class: "area-item btn btn-light" %>
    <%= link_to '世田谷区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 13}} ,class: "area-item btn btn-light" %>
    <%= link_to '渋谷区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 14}} ,class: "area-item btn btn-light" %>
    <%= link_to '中野区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 15}} ,class: "area-item btn btn-light" %>
    <%= link_to '杉並区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 16}} ,class: "area-item btn btn-light" %>
    <%= link_to '豊島区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 17}} ,class: "area-item btn btn-light" %>
    <%= link_to '北区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 18}} ,class: "area-item btn btn-light" %>
  </div>
  <div class='area-items btn-group  '>
    <%= link_to '荒川区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 19}} ,class: "area-item btn btn-light" %>
    <%= link_to '板橋区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 20}} ,class: "area-item btn btn-light" %>
    <%= link_to '練馬区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 21}} ,class: "area-item btn btn-light" %>
    <%= link_to '足立区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 22}} ,class: "area-item btn btn-light" %>
    <%= link_to '葛飾区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 23}} ,class: "area-item btn btn-light" %>
    <%= link_to '江戸川区',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 24}} ,class: "area-item btn btn-light" %>
    <%= link_to 'その他の地域',{:controller=>"places", :action=>"search", :q => {:area_id_eq => 25}} ,class: "area-item btn btn-light" %>
  </div>