<%= render "shared/header" %>
<div class="main">
  <div class="title-contents">
    <h1 class="main-title">オンラインイベントの回線スピードの参考に</h1>
    <p class="service-explain">会場にいかなくても実際の回線スピードを知ることができます</p>
  </div>
  
  <%# 検索用フォーム 実装時コメントアウト外す %>
  <%# <div class="search-bar-contents">
    <%= form_with model: @place, url: , id: 'search-form', local: true do |f| %>
    <%# <% end %>
  <%# </div> %>

  <div class="place-contents">
    <p class="text-primary"> あたらしく登録されたイベント会場 </p>
    <ul class="place-lists">
      <% @places.each do |place|%>
        <li class="place-list">
          <div class="place-header">
            <%= link_to place_path(place.id) do %>
            <div class="place-header-left">
              <%= image_tag place.image.variant(resize: '500x500'), class: "place-img"%>
            </div>
            <% end %>
            <div class="place-header-rigth">
              <%= link_to place_path(place.id) do %>
               <p class="place-name">
                <%= place.place_name %>
              </p>
              <% end %>
              <%# エリア検索に伴ったリンクを貼る %>
              <p class="place-area">
                <%= place.area.name %>
              </p>
            </div>
          </div>
          <p class= "download-speed">
            <%# <%= place.reviews.download %> 
          </p>
          <p class= "upload-speed">
            <%# <%= place.review.upload%>
          </p>
        </li>
      <% end %>
    </ul>
  </div> 
</div>