<%= render "shared/header" %>
<div class="main">
  <div class="title-contents">
    <h1 class="main-title">オンラインイベントの回線スピードの参考に</h1>
    <p class="service-explain">会場にいかなくても実際の回線スピードを知ることができます</p>
  </div>
  
  <%# 検索用フォーム 実装時コメントアウト外す %>
  <%# <div class="search-bar-contents">
    <%= form_with model: @place, url: , id: 'search-form', local: true do |f| %>
    <%# <% end %>
  <%# </div> %>

  <div class="place-contents">
    <p class="new-place-title"> あたらしく登録されたイベント会場 </p>
  <div class="middle-wrapper bg-light">
    <div class="middle-contents">
      <div class="middle-wrapper-title">
        <p><span class="logo-style">Evels</span>でわかること</p>
      </div>
      <div class="middle-items">
        <div class="middle-item">
          <p class="middle-item-title">実測値がわかる！</p>
          <div class="icon"><i class="fas fa-tachometer-alt"></i></div>
          <p class="middle-item-text">過去の利用者投稿により理論値でなく実際の速度がわかる！</p>
        </div>
        <div class="middle-item">
          <p class="middle-item-title">レビューを投稿しよう！</p>
          <div class="icon"><i class="far fa-comments"></i></div>
          <p class="middle-item-text">過去の速度を参照できるので再利用時の参考に！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="area-container">
    <div class="areas">
      <%= render "shared/area_search" %>
    </div>
  </div>
  <div class="place-contents bg-light">
    <p class="text-primary"> HALLS </p>

    <ul class="place-lists">
      <% @places.each do |place|%>
        <li class="place-list">
          <div class="place-header">
            <%= link_to place_path(place.id) do %>
            <div class="place-header-left">
              <%= image_tag place.image.variant(resize: '500x500'), class: "place-img"%>
            </div>
            <% end %>
            <div class="place-header-rigth">
              <%= link_to place_path(place.id) do %>
               <p class="place-name">
                <%= place.place_name %>
              </p>
              <% end %>
              <%# エリア検索に伴ったリンクを貼る %>
              <p class="place-area">
                <%= place.area.name %>
              </p>
            </div>
          </div>
          <p class= "download-speed">
            <%# <%= place.spec.download%>
          </p>
          <p class= "upload-speed">
            <%# <%= place.spec.upload%>
          </p>
        </li>
      <% end %>
    </ul>
  </div> 
</div>