<%= render "shared/header" %>
<div class="main">
  <div class="title-contents">
    <div class="main-title">
      <h4 class=" main-explain">オンラインイベントで失敗しないために</h4>
    </div>
    <div class="sub-contents">
      <p class="sub-tilte">オンラインイベントを成功させるには・・・</p>
      <p class="sub-explan">ネットワークの<span class="emphasize">「安定性」</span>と<span class="emphasize">「速度」</span>が重要です</p>
    </div>
  </div>

  <div class="middle-wrapper bg-light">
    <div class="middle-contents">
      <div class="middle-wrapper-title">
        <p><span class="logo-style">Evels Tokyo</span>でわかること</p>
      </div>
      <div class="middle-items">
        <div class="middle-item">
          <p class="middle-item-title">実測値</p>
          <div class="icon"><i class="fas fa-tachometer-alt"></i></div>
          <p class="middle-item-text">他の利用者投稿により理論値でなく実際の速度を参考に</p>

        </div>
        <div class="middle-item">
          <p class="middle-item-title">レビュー</p>
          <div class="icon"><i class="far fa-comments"></i></div>

          <p class="middle-item-text">過去の速度を参照できるので再利用時の記録として</p>

        </div>
      </div>
    </div>
  </div>
  <div class="area-container">
    <div class="area-title-container">
     <p class="text-primary areas-title">AREAS</p>
    </div>
    <div class="areas ">
      <%= render "shared/area_search" %>
    </div>
  </div>
  <div class="place-contents bg-light">
    <div class="area-title-container">
      <p class="text-primary halls-title"> HALLS </p>
    </div>
    <ul class="place-lists">
      <% @places.each do |place|%>
        <li class="place-list">
          <div class="place-header">
            <div class="place-header-left">
              <%= link_to place_path(place.id) do %>
                <%= image_tag place.image, class: "place-img" %>
              <% end %>
            </div>
            <div class="place-header-right">
               <p class="place-name-area">
                <span>
                <%= link_to place_path(place.id), class:"place-name" do %>
                  <%= place.place_name %>
                <% end %>
                </span>
              </p>
              <%# エリア検索に伴ったリンクを貼る %>
              <div class= "place-info">
                <p class="place-area">
                  エリア：
                  <span><%= link_to place.area.name,{:controller=>"places", :action=>"search", :q => {:area_id_eq => "#{place.area_id}"}}, class:"place-area-name" %><span>
                </p>
                <p class="wifi">
                  Free Wifi :
                  <span><%= place.wifi.name %></span>
                </p>
              </div>
            </div>
          </div>
          <div class="place-bottoms">
            <div class="place-bottom-left">
              <% if place.reviews.exists?(place_id: "#{place.id}")%>
              <div class="line-speed">
                <div class="speed-container ">
                  <p class= "speed-title">
                    Download Average Speed
                  </p>
                  <div class="average" >
                    <%= place.reviews.average(:download).round(2) %><span class="speed-mbps"> Mbps</span>
                  </div>
                </div>
                <div class="speed-container">
                    <p class= "speed-title">
                      Upload Average Speed
                    </p>
                    <div class="average" >
                      <%= place.reviews.average(:upload).round(2) %><span class="speed-mbps"> Mbps</span>
                    </div>
                </div>
              </div>
              <% else %>
                <div class="none-review-container">
                  <p class="none-review">レビューが投稿されていません</p>
                    <%= link_to "詳細ページからレビュー",place_path(place.id), class:"btn btn-outline-secondary send-show"%>
                </div>
              <% end %>
            </div>
            <div class="place-bottom-right">
              <div class="info-items">
                <div class="info-item">
                    <p class="info-text">回線</p>
                    <%= place.carrier%>
                </div>
                <div class="info-item <%=line_kinds_bad(place)%>">
                    <p class="info-text">種別</p>
                    <%= place.line_kinds.name %>
                </div>
                <div class="info-item">
                   <p class="info-text">料金</p>
                  <%= place.fee.name %>
                </div>
                <div class="info-item <%= backup_line_bad(place) %>">
                  <span> 予備回線</span>
                  <%= place.backup_line.name %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
     <%= paginate @places %>
    </ul>
  </div> 
</div>