<%= render "shared/header" %>
<%# 詳細画面 %>
<div class= "detail-contents">
  <div class= "detail-title-contents">
    <p class= "detail-place-title">
      <%= @place.place_name %>
    </p>
    <div class= "detail-area">
      エリア:
      <span><%= link_to @place.area.name,{:controller=>"places", :action=>"search", :q => {:area_id_eq => "#{@place.area_id}"}}, class:"detail-area-name" %><span>
    </div>
  </div>

  <%# 詳細画像 %>
  <div class= "detail-image-contents bg-light">
    <div class= "detail-main-image-container">
      <div class="detail-main-image">
        <%= image_tag @place.image, class: 'detail-place-image' %>
      </div>
    </div>
    <div class= "detail-sub-image-container">
      <ul class= "review-images">
      <% @reviews_all.each do |review_image|%>
        <% if review_image.image.present? %>
         <li class= "detail-review-image">
          <%= image_tag review_image.image, class: 'detail-place-review-image' %>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class= "image-modal">
        <%= image_tag '', class: "bigimg" %>
        <i class="far fa-times-circle"></i>
    </div>
  </div>

  <%# 詳細情報 %>
  <div class="detail-info-contents bg-light">
    <%# 詳細回線スピード %>
    <div class= "detail-ave-line-speed">
      <div class="detail-line-speed-container">
        <% if @place.reviews.exists?(place_id: "#{@place.id}")%>
        <div class="detail-line-speed">
          <div class="detail-speed-container ">
            <p class= "detail-speed-title">
              Download Average Speed
            </p>
            <div class="detail-average" >
              <%= @download_ave %><span class="detail-speed-mbps"> Mbps</span>
            </div>
          </div>
          <div class="detail-speed-container">
              <p class= "detail-speed-title">
                Upload Average Speed
              </p>
              <div class="detail-average" >
                <%= @upload_ave %><span class="detail-speed-mbps"> Mbps</span>
              </div>
          </div>
        </div>
        <% else %>
          <div class="none-review-container">
            <p class="none-review">レビューが投稿されていません
          </div>
        <% end %>
      </div>
    </div>
    <%# 詳細情報会場 %>
    <div class="detail-info">
      <div class="detail-info-items">
        <div class="detail-info-item">
            <p class="detail-info-text">回線</p>
            <%= @place.carrier%>
        </div>
        <div class="detail-info-item">
            <p class="detail-info-text">種別</p>
            <p class="<%=line_kinds_bad(@place)%>">
            <%= @place.line_kinds.name %>
            </p>
        </div>
        <div class="detail-info-item">
            <p class="detail-info-text">料金</p>
          <%= @place.fee.name %>
        </div>
        <div class="detail-info-item <%= backup_line_bad(@place) %>">
          <span> 予備回線</span>
          <%= @place.backup_line.name %>
        </div>
        <div class="detail-info-item <%= wifi_bad(@place) %>">
          <span> Free Wifi&nbsp;</span>
          <%= @place.wifi.name %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# レビュー画面 %>
<div class = "detail-review-contents bg-light">
  <div class= "detail-review-top-wrapper">
    <div class= "detail-review-title">
    Reviews
    </div>
    <div class= "detail-review-btn">
      <%= link_to "レビューする", new_place_review_path(@place), class: "btn btn-outline-primary" %>
    </div>
  </div>
  <%# 投稿内容 %>
    <% @reviews.each do |review| %>
    <div class= "detail-review-main">
      <div class= "detail-upper-reviews">
        <div class= "detail-upper-left">
          <div class= "detail-download-speed">
            <p class= "detail-speed-title">DOWNLOAD SPEED</p>
            <p class="detail-review-speed"><%= review.download %><span class= "detail-speed-mbps">&nbsp;Mgps</span></p>
          </div>
          <div class= "detail-upload-speed">
            <p class= "detail-speed-title">UPLOAD SPEED</p>
            <p class="detail-review-speed"><%= review.upload %><span class= "detail-speed-mbps">&nbsp;Mgps</span></p>
          </div>
        </div>
        <% if review.image.attached? %>
          <div class= "detail-upper-right">
            <div class="detail-review-image">
            <%= image_tag review.image, class: "reviews-image" %>
            </div>
          </div>
          <% else %>
            <%= image_tag "noimage", class: "reviews-image", style:"margin-right: 5%" %>
        <% end %>
      </div>
      <div class= "detail-bottom-reviews">
        <div class= "detail-bottom-left">
          <span>コメント：</span><%= review.comment %>
        </div>
        <% if user_signed_in? && current_user.id == review.user.id %>
        <div class= "detail-bottom-center">
          <div class= "detail-review-custom-btn">
            <%= link_to "編集", edit_place_review_path(@place.id, review.id), class:'btn btn-outline-info' %>
          </div>
          <div class= "detail-review-custom-btn">
            <%= link_to "削除", place_review_path(@place.id, review.id), method: :delete, data: { confirm: "削除しますか"},class:'btn btn-outline-info ' %>
          </div>
        </div>
        <% end %>
        <div class= "detail-bottom-right">
          <p class= "detail-user-name">
            <%= review.user.name %><span>&nbsp;さん</span>
          </p>
          <p class= "detail-user-created-date" >
            <span>投稿日時 : &nbsp;</span>
            <%= l review.updated_at %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @reviews %>
</div>